<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skinolog</title>
  <meta name="description" content="skinologのウェブサイトです。">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/top.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</head>

<body>
  <header class="header">
    <h1 class="header__logo"><a href="/"><img src="images/logo.jpg" alt="skinolog"></a></h1>
    <button id="hamburger" class="hamburger" aria-label="メニューを開く" aria-controls="gnav" aria-expanded="false">
      <span class="hamburger__line" aria-hidden="true"></span>
    </button>
    <nav id="gnav" class="gnav" aria-label="メインメニュー">
      <ul class="gnav__list">
        <li class="gnav__item"><a href="/company/" class="gnav__link" aria-current="page">マイページ</a></li>
        <li class="gnav__item"><a href="/users/sign_out", data-method="delete", class="gnav__link" aria-current="page">ログアウト</a></li>
      </ul>
    </nav>
  </header>

<div class="contents row">
  <div class="container">
    <h3>習慣新規投稿</h3>
    <%= form_with(model: @routinepost, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "ビタミンC誘導体美容液を使う" %>
      <%= form.text_field :goal, placeholder: "くすみをなくす" %>
      <%= form.text_area :, placeholder: "text", rows: "10" %>
      <%= form.submit "実践する" %>
    <% end %>
  </div>
</div>